<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxsEa613_tFJD1ngTlDaAWnB2UhCkgMC0</string>
	<key>GCM_SENDER_ID</key>
	<string>887875287802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testifyLearnApplication</string>
	<key>PROJECT_ID</key>
	<string>testify-learn-application</string>
	<key>STORAGE_BUCKET</key>
	<string>testify-learn-application.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887875287802:ios:888de87b50e3fc7ab72743</string>
</dict>
</plist>